@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;

.result {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  height: var(--children-height);

  > * {
    padding: var(--general-padding);
    background-color: var(--tertiary);
  }
  > *:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  > :nth-child(2n) {
    background-color: var(--modal-second-color);
  }

  h4 {
    display: grid;
    place-content: center;
    font-weight: 400;
    border-radius: var(--general-b-radius) var(--general-b-radius) 0 0;
  }

  > :last-child {
    border-radius: 0 0 var(--general-b-radius) var(--general-b-radius);
  }

  &__number {
    font-weight: bold;
  }

  .correct {
    color: var(--secondary);
  }
  .wrong {
    color: var(--error);
  }

  &--active {
    position: relative;
    width: min(90%, var(--children-width));
    margin-top: var(--modal-m-top);
    cursor: auto;
  }

  &--active__crown {
    position: absolute;
    width: f.rem(25);
    height: f.rem(25);
    inset: -5% -5% auto auto;
    transform: rotate(40deg);

    @include b.breakpoint(sm, max-width) {
      width: f.rem(22.4);
      height: f.rem(22.4);
      inset: -4.2% -4.2% auto auto;
    }
  }
}
