@use "functions" as f;

@mixin svgIcon {
  width: f.rem(18);
  height: f.rem(18);

  path:last-of-type {
    fill: var(--white);
  }
}

@mixin caret($oneForBlock) {
  position: absolute;
  height: 89%;
  transform: translateY(f.rem(0.9));
  transition: left 0.1s ease;

  // if it's 2, that means it is thinCaret
  @if ($oneForBlock == 1) {
    width: fit-content;
    font-size: inherit;
    border: none;
    background-color: var(--secondary);
    border-radius: f.rem(2);
  } @else {
    z-index: 2;
    border-left: f.rem(2.5) solid var(--secondary);
    border-radius: 100vmax;
  }
}
