// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use "variables" as *;
@use "functions" as *;

@mixin caret($oneForBlock) {
  position: absolute;
  height: 89%;
  transform: translateY(rem(0.9));
  transition: left 0.1s ease;

  // if it's 2, that means it is thinCaret
  @if ($oneForBlock == 1) {
    width: fit-content;
    font-size: $words-container-fs;
    border: none;
    background-color: $secondary-color;
  } @else {
    z-index: 5;
    margin-left: rem(-1);
    border-left: rem(2) solid $secondary-color;
    border-radius: rem(50);
  }
}

@mixin placement {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // width: 100%;
  // height: 100%;
}
@mixin svgIcons {
  fill: white;
  width: rem(18);
  height: rem(18);
}

%menu-share {
  cursor: pointer;
  width: fit-content;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &:hover {
    span {
      background-color: $secondary-color;
    }
  }

  span {
    height: rem(3);
    width: rem(30);
    border-radius: rem(10);
    background-color: $modal-second-color;
    transition: 0.25s background-color;
  }
  span:nth-of-type(2) {
    transform: translate(0, rem(5));
    width: rem(20);
    background-color: $secondary-color;
  }
  span:nth-of-type(3) {
    transform: translate(0, rem(10));
    width: rem(10);
  }
}
