// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
@use "functions" as *;

$header-height: rem(80);
$main-typing-box-padding: rem(20);
$general-b-radius: rem(3);
$input-restart-padding: rem(10);
$timer-words-bg-color: #323437;
$modal-second-color: #585d64;
$overall-bg-color: #202020;
$secondary-color: rgb(85, 202, 85);
$general-red: rgb(219, 5, 5);
// $general-red: #ca4754;
$wrong-words-bg: rgb(104, 59, 59);
$words-container-fs: 21px;
$general-font: "Poppins", sans-serif;
$primary-font-typing: "Oxygen Mono", monospace;
$small-font: rem(15);

:root {
  --current-width-of-timeFlow: 0; /* Going to be changed in the Timer Component*/
  //  --toastify-color-success: #07bc0c;
  --toastify-color-success: rgb(85, 202, 85);
  --toastify-font-family: "Poppins", sans-serif;
}
