@use "../abstracts/functions" as f;
@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: f.rem(24) var(--general-padding);
  margin-top: var(--wordsDivContainer-m-top);
  border-top: f.rem(1) solid var(--white-20);

  @include b.breakpoint(md, max-width) {
    justify-content: center;
    gap: f.rem(22);
  }

  a {
    gap: f.rem(8);
    svg {
      @include m.svgIcon();
    }
    span {
      transform: translateY(10%);
    }
  }
}
