@mixin caret($oneForBlock) {
  position: absolute;
  height: 89%;
  transform: translateY(0.9px);
  transition: left 0.1s ease;

  // if it's 2, that means it is thinCaret
  @if ($oneForBlock == 1) {
    width: fit-content;
    font-size: $words-container-fs;
    border: none;
    background-color: $secondary-color;
  } @else {
    z-index: 5;
    margin-left: -1px;
    border-left: 2px solid $secondary-color;
    border-radius: 50px;
  }
}

@mixin placement {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@mixin svgIcons {
  fill: white;
  width: 18px;
  height: 18px;
}
