@import "./config";
@import "./animations";
@import "./mixins";

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Roboto Mono", monospace;
  background-color: $overall-bg-color;
  font-size: 18px;

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $timer-words-bg-color;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #f3f3f3;
  }
}

/* This is the root div*/
#root {
  width: 70%;
  height: 100%;
  margin: auto;
  /* border: 1px solid pink; */
}

/* The Header Component*/

header {
  /* border: 1px solid orange; */
  height: $header-height;
  display: grid;
  grid-template-columns: 30% 70%;
  padding-top: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100%;

    li {
      width: 100%;
      /* border: 1px solid lime; */
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
        /* justify-content: space-evenly; */
        justify-content: flex-end;
      }
      &:last-child span {
        margin-left: 10px;
      }
      span {
        cursor: pointer;
        transition: 0.25s color ease;
      }
      span:hover {
        color: grey;
      }
    }
  }
}

.time-selected {
  /* border: 1px solid red; */
  padding: 2px 10px;
  border-radius: 15px;
  background-color: $modal-second-color;
  transition: none;
  cursor: auto;

  &:hover {
    color: white;
  }
}

/* End Header Component*/

.main-body {
  /* border: 1px solid white; */
  height: calc(100vh - #{$header-height});
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.typing-box-1 {
  /* border: 1px solid green; */
  width: 100%;
}

.timer-container {
  /* border: 1px solid violet; */
  width: 100%;
  border-radius: $general-b-radius;
  background-color: $timer-words-bg-color;

  h3 {
    padding: 5px $main-typing-box-padding 5px $main-typing-box-padding;
    /* border: 1px solid white; */
  }
}
.time-flow {
  width: 100%;
  border: 1px solid $secondary-color;
  border-radius: 50px;
  transform: translateY(50%);
  animation: time-flow-animation-decrement 30s linear forwards;
  animation-play-state: paused; /*Change this with javascript*/
}

.main-typing-box {
  /* border: 1px solid red; */
  margin-top: 15px;
  padding: $main-typing-box-padding;
  background-color: $timer-words-bg-color;
}
.output-sibling {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $overall-bg-color;
  display: grid;
  place-content: center;
  z-index: 10;
  /* border: 1px solid red; */
}

.words-container {
  position: relative;
  /* border: 1px solid limegreen; */
  padding: 1px 5px;
  line-height: 1.5;
  margin-bottom: $main-typing-box-padding;
  font-size: $words-container-fs;
  font-family: $primary-font;
  height: 99px;
  overflow: hidden; /* necessary for the typing animation */
}

.each-word {
  display: inline-block;
  position: relative;
  /* border: 1px solid red; */

  span {
    position: relative;
    /* border: 1px solid pink; */
  }
}

.spaces {
  visibility: hidden;
}

#blockCaret {
  @include caret(1);

  span {
    visibility: hidden;
  }
}
#thinCaret {
  @include caret(2);
}
.blink {
  animation: blink 1.1s infinite 1s;
}

.input-restart {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  gap: $main-typing-box-padding;
  input {
    color: white;
    width: 100%;
    padding: $input-restart-padding;
    border: none;
    border-radius: $general-b-radius;
    background-color: $overall-bg-color;
    font-size: $words-container-fs;
    font-family: $primary-font;

    &:focus {
      outline: 2px solid $secondary-color;
    }
  }
}

.restart-span {
  /* border: 1px solid brown; */
  cursor: pointer;
  border-radius: $general-b-radius;
  display: grid;
  place-content: center;
  width: 70px;
  padding: $input-restart-padding;
  background-color: $overall-bg-color;
  transition: 0.5s all ease;

  &:hover {
    transform: translate(-3px);
    background-color: #232527;
  }
}

.typing-box-2 {
  width: 100%;
  /* border: 1px solid red; */
  height: 280px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* Beginning of modal*/
.result-div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: normal;
  font-size: initial;
  /* height: 350px; */
  width: 300px;
  border-radius: $general-b-radius;
  margin-right: 40px;

  .result-title {
    position: relative;
    background-color: green;
    border-radius: $general-b-radius $general-b-radius 0 0;
    display: flex;
    height: 45px;
    padding: 5px;

    button {
      position: absolute;
      right: 0;
      cursor: pointer;
      width: 25px;
      height: 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #f3f3f3;
      border: none;
      border-radius: 2px;
      color: black;
      transition: all 0.25s ease;

      &:hover {
        background-color: $general-red;
        color: #f3f3f3;
      }
    }
  }

  .result-inner-div {
    position: relative;
    width: 250px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    color: #f3f3f3;
  }

  .result-body {
    height: fit-content;
    /* border: 1px solid violet; */
  }
}

div[class^="sect"] {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  height: 50px;

  &:last-of-type {
    border-radius: 0 0 $general-b-radius $general-b-radius;
  }
}

.wpm-container {
  width: 250px;
  margin: auto;
  /* border: 1px solid red; */
}

div[class="sect-1"] {
  text-align: center;
  overflow: hidden;
  border-radius: $general-b-radius $general-b-radius 0 0;
  height: 80px;
}
.wpm-scores {
  float: right;
  display: flex;
  align-items: center;
}
.wpm-correct {
  color: $secondary-color;
}
.wpm-wrong {
  color: $general-red;
}

.sect-1,
.sect-3,
.sect-5 {
  background-color: $timer-words-bg-color;
}
.sect-2,
.sect-4 {
  background-color: $modal-second-color;
}
.wpm-small {
  font-size: 14px;
}
.wpm-big {
  position: relative;
  font-size: 2.3em;
  line-height: 1;
}
.high-score {
  position: absolute;
  margin-right: -50px;
  margin-top: -20px;
  right: 0;
  top: 0;
  transform: rotate(30deg);
  width: 150px;
  height: 25px;
  background-color: silver;
  border: 1px solid grey;
}
.wpm-labels,
.wpm-scores {
  font-size: 19px;
}
.wpm-shrink {
  font-size: 14px;
  margin-right: 10px;
}

/* End of modal */

.wrong-words-container {
  width: calc(100% - 340px);
  height: fit-content;
  /* border: 1px solid blue; */
  background-color: $timer-words-bg-color;
  padding: 10px $main-typing-box-padding $main-typing-box-padding
    $main-typing-box-padding;
  border-radius: $general-b-radius;
}
.wrong-words-title {
  /* border: 1px solid blue; */
  margin-bottom: $main-typing-box-padding;
}
.wrong-words {
  /* border: 1px solid yellow; */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-height: 203px;
  overflow-y: auto;

  span {
    border: 2px solid $general-red;
    border-radius: $general-b-radius;
    padding: 4px;
    background-color: $wrong-words-bg;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $modal-second-color;
    box-shadow: inset 0 0 5px #f3f3f3;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $overall-bg-color;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #f3f3f3;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
