@import "./mixins";

.modal-sibling {
  @include placement();
  background-color: black;
  opacity: 0.95;
  z-index: 11;
}
.modal-bg {
  @include placement();
  display: grid;
  place-content: center;
  z-index: 12;
}
