@import "./mixins";

.modal-sibling {
  @include placement();
  background-color: black;
  opacity: 0.95;
  z-index: 11;
}
.modal-bg {
  @include placement();
  display: grid;
  place-content: center;
  z-index: 12;
  animation: fade 500ms ease-in-out forwards;
  opacity: 0;
  transform: translateY(50%);
}

@keyframes fade {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
