.result-div {
  height: 350px;
  width: 300px;
  border-radius: 5px;
}

.result-title {
  position: relative;
  background-color: green;
  border-radius: 5px 5px 0 0;
  display: flex;
  height: 45px;
  padding: 5px;
}
.result-title button {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border: none;
  border-radius: 2px;
  color: black;
  transition: all 0.25s ease;
}
.result-title button:hover {
  background-color: rgb(248, 29, 29);
  color: #f3f3f3;
}

.result-inner-div {
  position: relative;
  width: 250px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  color: #f3f3f3;
}

.result-body {
  height: 355px;
  display: grid;
  grid-template-rows: 30% 15% 15% 15% 15%;
}

div[class^="sect"] {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
}
div[class^="sect"]:last-of-type {
  border-radius: 0 0 5px 5px;
}

.wpm-container {
  width: 250px;
  margin: auto;
}

.sect-1 {
  text-align: center;
}
.wpm-scores {
  float: right;
  display: flex;
  align-items: center;
}

.wpm-correct {
  color: green;
}
.wpm-wrong {
  color: red;
}
.sect-1,
.sect-3,
.sect-5 {
  background-color: rgb(243, 184, 76);
}
.sect-2,
.sect-4 {
  background-color: #f3f3f3;
}
.wpm-small {
  font-size: 14px;
}
.wpm-big {
  font-size: 2.3em;
  line-height: 1;
}
.wpm-labels,
.wpm-scores {
  font-size: 19px;
}
.wpm-shrink {
  font-size: 14px;
  margin-right: 10px;
}
