@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", */
  /* "Lucida Sans", Arial, sans-serif; */
  font-size: 1.07em;
  color: black;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #323437;
}
#root {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.words {
  background-color: #6e6b6b;
  min-height: 50px;
  width: 100%;
  padding: 10px 5px 15px 20px;
  border-radius: 15px;
  /* word-break: break-all; */
}
div[class="input"] {
  width: 100%;
  display: flex;
  justify-content: center;
}
input {
  margin-top: 20px;
  width: 85%;
  padding: 10px;
  outline: none;
  color: black;
}
