@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", */
  /* "Lucida Sans", Arial, sans-serif; */
  font-size: 1.05em;
  color: black;
}
html,
body {
  width: 100%;
  height: fit-content;
}
body {
  background-color: #323437;
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
}
#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 75%;
  height: 100%;
  margin: auto;
}

.words {
  margin-top: 100px;
  position: relative;
  background-color: #6e6b6b;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.output {
  padding: 10px 20px 15px 20px;
}

div[class="input"] {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.input > input {
  width: 70%;
  padding: 5px 10px 5px 10px;
  outline: none;
  color: white;
  margin-right: 10px;
  border: 2px solid #6e6b6b;
  background-color: #323437;
  border-radius: 5px;
}
#timer {
  /* border: 1px solid red; */
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 15px;
  width: 70px;
  display: grid;
  place-content: center;
}
.output-sibling {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c1d1f;
  transition: all 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-restart > h2 {
  color: white;
}
